.hero{
    width:100%;
    background-color: var(--dark-violet);
    color: var(--white);
    padding:10rem 0;
    position:relative;
    @media(max-width:768){
        padding:0;
    }

    &__wrapper{
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        @media(max-width: 768px){
            flex-direction: column-reverse;
        }
    }

    &__content{
        max-width: 45rem;
        @media(max-width:768px){
            max-width: 100%;
            padding:6rem 0;
            text-align: center;
        }
    }

    &__text{
        padding: 2rem 0;
    }

    &__image{
        position: absolute;
        right: 0;
        padding: 0 2rem;
        top: -3rem;
        z-index: 10;
        object-fit: cover;

        @media(max-width:768px){
            position: relative;
            padding:0;
        }
        @media(max-width: 992px){

        }
        img{
            max-width:100%;
            @media(max-width: 768px){
                max-width: 100%;
            }
        }
    }

    .left-bottom-image, .right-top-image{
        img{
            max-width: 15rem;
            position: absolute;
        }
    }

    .right-top-image{
        img{
            right:0;
            top:0;
            max-width: 35rem;
            z-index: 999;
            @media(max-width:768px){
                max-width: 15rem;
                right:0;
                bottom: -20rem;
                top:auto;
            }
        }
    }
    .left-bottom-image{
        @media(max-width: 768px){
            img{
               bottom: 35rem;
               z-index: 9;
            }
        }
    }
  
}